@mixin fontfamily-Noto() {
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
    font-family: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

html{
    height: 100%;
}

.body{
    height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    height: 100px;

    & .nav-menu{
        display: flex;
        justify-content: flex-end;
        width: 50%;

      

        & .nav-item .msg{
            color:red;
            margin-right: 15px;
            font-weight: bold;
        }

        

        & ul{
            display: flex;
            flex-wrap: no-wrap;
            align-items: center;
            margin:0 auto;

            & li{
                list-style: none;
                padding: 0 2rem;
                white-space:nowrap;
                height:50%;
                display: flex;
                align-items: center;

                +li{
                    border-left: 1px solid #333
                    
                }

                & a{
                    text-decoration: none;
                    text-align: center;
                    position: relative;
                    padding-bottom: 7px;

                    display: flex;
                    flex-flow:column;
                    @include fontfamily-Noto;
                    

                    &::after{
                        position: absolute;
                        bottom: 0;
                        content: '';
                        left: 0;
                        height: 2px;
                        transition: .5s all;
                        width: 0;
                        background: rgba(#C0D500,1.0); 
                        
                    }

                    &:hover::after{
                        width: 100%;
                    }

                    &:link{
                        color: #333;
                    }

                    &:visited{
                        color: #333;
                    }
                }

                & span{
                    font-size: smaller;
                }
            }
        }
    }
}


.logo {

    display:flex;
    width: 10rem;
    height: 100%;

    & img{
        width:100%;
        height:100%;
    }
}


main{

    margin: 20px auto;
    height:100%;
    overflow: hidden;

    & img.open{
        position:fixed;
        right:20px;
        bottom:20px;
        z-index: 99999;
        width:200px;
        height:200px;
    }

    & .container{
        position: relative;
        background-size:cover;
        background-position: center;
        height: 400px;
        

        & .carousel{
            // background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0));
            height: 400px;
            width: 100%;
            margin: 0 auto;
            position: relative;

            

            & ul.carousel-area{
                position:absolute;
                left: 0;
                margin: 0;
            }

            & ul.slider{
                padding-left: 0;
            }

            & .arrow-wrap{
                width: 90%;
                height: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items:center;

                & .arrow-right{
                    position: relative;

                    &:before{
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-top: 2px solid #000000;
                        border-left: 2px solid #000000;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-30%, -50%)rotate(-45deg);
                    }
                }

                & .arrow-left{
                    position: relative;

                    &:before{
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-top: 2px solid #000000;
                        border-left: 2px solid #000000;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-70%,-50%)rotate(135deg);
                    }
                }
            }

            /* ボタンタグの装飾リセット */
            & button {
                cursor: pointer;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                vertical-align: middle;
                // color: inherit;
                // font: inherit;
                border: 0;
                background: transparent;
                padding: 0;
                margin: 0;
                outline: none;
                border-radius: 0;
            }


            & button.arrow-btn{
                width: 40px;
                height: 100px;
                background-color: rgba(225,225,225,0.5);
                border-radius: 3px;
                transition: .2s;


                &:hover {
                    background-color: rgb(225,225,225);
                  }
            }

            & p{
                position: absolute;
                color: white;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                @include fontfamily-Noto;
            }

            & .carousel-area{
                height: 100%;
                display:flex;
                position: absolute;

            

                & li.carousel-list{
                    width: 862px;
                    height: 100%;
                    margin-right: 30px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    list-style: none;
                    

                    &:nth-child(1){
                        background-image:url(../resource/img/inside.jpg);
                    }

                    &:nth-child(2){
                        background-image:url(../resource/img/inside.jpg);
                    }

                    &:nth-child(3){
                        background-image:url(../resource/img/jirou.jpg);
                    }

                    // & .carousel-img {
                        // width: 1px;
                        // height: 1px;
                        // clip: rect(1px,1px,1px,1px);
                        // -webkit-clip-path: inset(50%);
                        // clip-path: inset(50%);
                        // margin: -1px;
                        // padding: 0;
                        // overflow: hidden;
                        // position: absolute;

                    //   }
                }
            }

            & .pagination{
                width: 80px;
                margin: 5% auto 0;
                display:flex;
                justify-content: space-around;

                & .pagination-circle{
                    width: 8px;
                    height: 8px;
                    border: 1px solid rgb(105, 105, 105);
                    border-radius: 50%;
                    background-color: rgba(54, 54, 54, 0.3);


                    &.target {
                        background-color: rgba(83, 97, 223, 0.8);
                      }
                }

            }

        }

        & .infoArea{
            width: 100%;

            margin-top: 50px;
            display: flex;
            flex-flow: column;

            & .rules{
                width:50%;
                margin: 0 auto;
                border: 1px solid red;
                text-align:center;

                & .rulesBlock{
                    padding: 20px ;
                    color: red;
                }
            }
            
            & h4{

                text-align: center;
                font-size:larger;
                font-weight: 100;
                padding: 40px 0;
                @include fontfamily-Noto;

            }

            & .infoArea-block{
                display:flex;
                justify-content: center;
                background-image:url(../resource/img/background.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                padding: 50px 30px;

                & .info-content{

                    display: flex;
                    flex-flow:column;
                    width: 80%;
                    text-align: center;
                    background-color: white;

                    & .info-open{
                        padding: 20px 20px;
                        font-size: 2rem;
                        font-weight: 900;
                        @include fontfamily-Noto;
                        color: #ff0000
                    }


                    & .info-title{
                        padding: 20px 20px;
                        font-size: 2rem;
                        font-weight: 900;
                        @include fontfamily-Noto;
                        color: #1f2c60
                        
                    }

                    & .info-str{
                        padding: 20px 20px;
                        @include fontfamily-Noto;
                    }

                }

            }
        }

        
    }



    & .contents-wrapper{

        display: flex;
        flex-flow: column;
        text-align: center;
        margin-top: 742px;

        width:100%;

        & .menu{
            margin-top: 100px;
        }

        & .service{
            display:flex;
            justify-content: center;
            margin-top: 50px;
            height:100%;
            width: 100%;
            
        }
        

        & h4{
            padding: 20px 0;
            font-weight: 100;
            font-size:2.4rem;
            @include fontfamily-Noto;
        }
        

        & .local-item{

            display: flex;
            flex-flow: column;
            align-items: center;
            width: 20%;
            margin: 0 25px;


            &.fadein{
                opacity : 0;
                transition: .7s ease-in-out ;
                transform: translateY(30px);

                &.active{
                    opacity : 1;
                    transform: translateY(0);
                }
            }
            

            & img{
                width: 100%;
                height: 100%;
                margin-top:20px;
            }

            & > p{
                width: 100%;
                height: auto;
                margin-top: 10px;
                line-height: 2.0rem;
                font-size: 1.0rem;
                @include fontfamily-Noto;
                
            }

            & p.title-num{
                color:#C0D500;
                font-size: 1.6rem;
                padding-bottom: 0.8rem;
            }

            & p.title{

                color:#00461D;
                @include fontfamily-Noto;
                font-size: 1.6rem;
            }
        }

    }

    
}

footer{
    background: #ffffff;

    &>p{
        color:black;
        text-align:center;
    }
}


